.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #c6d39f!important;
  opacity: 0.8;
}

body {
  padding-top: 80px;
}

.btn.btn-secondary.btn-block.btn-lg {
  background-color: #d1dcb2!important;
}

.btn.btn-block.btn-lg {
  background-color: #a8b584!important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  background-color: #a8b584!important;
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgb(255,255,255,0.75);
  max-width: 800px;
  margin: auto;
}

@media (max-width: 576px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  #promo {
    padding: 20px;
  }
}

#promo {
  margin-top: 40px;
  margin-bottom: 5px;
}

.jumbotron.jumbotron-fluid {
}

